.modal-backdrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--clr-bg-dark-400);
    backdrop-filter: blur(10px);
    z-index: 100;
}

.modal-container {
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 10%;
    @media (max-width: $bpw-300) {
        top: 5%;
    }
    left: 25%;
    display: flex;
    z-index: 101;
    justify-content: center;
}