.maps-wrapper > div > div > div > div:nth-child(15) > div > a > div > img {
    display: none;
}

.maps-wrapper > div > div > div > div:nth-child(17) > {
    div {
        display: none;
    }
}

.maps-wrapper > div > div > div > div:nth-child(17) {
    display: none;
}

.maps-wrapper > div > div {
    background-color: var(--clr-bg-100) !important;
}