.hero {
	width: 100vw;
	max-height: 900px;
	padding: 30px;
	position: relative;
	z-index: 2;

	.heroContainer {
		height: 700px;
		background-color: var(--clr-bg-400);
		border-radius: var(--br);
		padding: 64px 75px;
		@media (max-width: $bpw-200) {
			padding: 64px 25px;
		}
		z-index: 0;
		position: relative;

		.content-wrapper {
			z-index: 2;
		}

		h1 {
			font-size: var(--fs-ex-large-100);
			color: var(--clr-dark-400);
			max-width: 750px;
			font-style: normal;
			font-weight: 700;
			line-height: 105%;
		}

		button {
			margin-top: 60px;
			background: linear-gradient(45deg, var(--clr-primary-400) 25%, var(--clr-primary-100));
			background-size: 300%;
			color: var(--clr-white-100);
			border-radius: 55px;
			font-size: var(--fs-medium-200);
			font-weight: 300;
			margin-left: 0;
			padding: 0.75em 2em;
			transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

			b {
				margin-right: 1em;
			}

			svg {
				transform: translateY(3px) scale(1.5);
				transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
			}

			&:hover {
				background-size: 100%;
				box-shadow: -2px 2px 2px #35a86b;

				svg {
					transform: translateY(3px) scale(1.5) translateX(5px);
				}
			}
		}
	}

	.box-images-container {
		pointer-events: none;
		position: absolute !important;
		right: -20%;
		top: -10%;
		width: 1750px;
		height: 10px;
		overflow: visible !important;
		z-index: -1;

		animation: fadeIn 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) backwards;
		animation-delay: 0.5s;
		@media (max-width: $bpw-500) {
			width: 1300px;
		}

		@media (max-width: $bpw-400) {
			width: 800px;
			top: 30%;
		}

		@media (max-width: $bpw-200) {
			transform: rotate(-15deg);
			right: -100%;
		}

		.image-container {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: visible;
			z-index: -1;
		}

		img {
			z-index: -1;
			&:first-child {
				animation: boxFloating 5s ease-in-out infinite;
			}
			&:nth-child(2) {
				animation: boxFloating 6s ease-in-out infinite;
				animation-delay: 1s;
			}
			&:nth-child(3) {
				animation: boxFloating 8s ease-in-out infinite;
				animation-delay: 2s;
			}
		}
	}
}

@keyframes boxFloating {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(10px, 4px);
	}
	50% {
		transform: translate(5px, -4px);
	}
	75% {
		transform: translate(0px, -15px);
	}
}

.homepage-nav {
	padding: 1rem 2rem;
	padding-bottom: 0;
	display: flex;
	justify-content: space-between;

	h3 {
		font-family: "Rubik";
		font-style: normal;
		font-weight: 400;
		line-height: 105%;
		color: var(--clr-primary-400);
		font-size: var(--fs-large-200);
	}
}

.courier-slider-container {
	background-color: var(--clr-bg-400);
	border-radius: var(--br);
	overflow: hidden;
	width: max-content;
	padding: 1em;
	position: relative;

	h3 {
		font-weight: 500;
		margin-left: 22px;
		margin-bottom: 1em;
		color: var(--clr-dark-400);
	}

	.courier-images {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		padding: 1em;
		z-index: 2;
		background-color: var(--clr-bg-100);
		border-radius: var(--br);
		overflow: hidden;
		max-width: calc(160px * 4 * 3);
		
		.image {
			animation: scroll 10s linear forwards infinite;
			pointer-events: none;
			height: 60px; 
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			// background-color: red;
			filter: saturate(0%);
			min-width: 160px;
			user-select: none;
		}
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-160px * 4));
	}
}

.hero-grid-section {
	display: grid;
	grid-gap: 1rem;
	padding: 30px;
	padding-top: 0;
	grid-template-columns: 1fr 1fr;
	z-index: 0;
}

.description-container {
	background-color: var(--clr-bg-400);
	border-radius: var(--br);
	position: relative;
	padding: 1em;
	grid-row: 1 / 3;
	color: var(--clr-dark-400);
	font-size: var(--fs-medium-200);

	button {
		position: absolute;
		bottom: 1em;
		right: 1em;
		padding: 0.5em;
		font-size: var(--fs-medium-200);
		svg {
			display: block;
		}
	}
}

.footer {
	border-top: 1px solid var(--clr-border-800);
	background-color: var(--clr-bg-100);
	width: 100vw;
	height: 200px;
}
